<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>firstapp</title>
    <link rel="stylesheet" href="{%static "css/mystyle.css" %}"/>
</head>
<body>
<h1>Hi this a picture of django himself </h1>
<img src='{%static 'images/django.png'%}' alt='ohh you done it'>
{#{{insert_me}}#}
<div class="djangotwo">
    {% if access_records %}
    <table>
        <thead>
        <th>Site Name</th>
        <th>Data Accessed</th>
        </thead>
    {% for access in access_records %}
    <tr>
        <td>{{ access.name }}</td>
        <td>{{ access.datetime }}</td>
    </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>Access Not found</p>
    {%endif%}
</div>
</body>
</html>